.content {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
}
.right-side {
  width: 45%;
  background-color: var(--verde-fundo);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: var(--branco);
  text-align: center;
}
.right-side > .text-content > .title-left {
  font-family: "Limelight", serif;
  font-size: 50px;
}
.right-side > .text-content > .text {
  font-family: "Lustria", serif;
  font-size: 20px;
}
/*left-side*/
.left-side {
  width: 55%;
  background-color: var(--cinza-claro-fundo);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: 'Lustria', serif;
  color: var(--verde-texto-escuro);
}

.left-side > form > .title-login {
    margin: 0 0 15px 0;

    font-family: 'Limelight', serif;
    font-size: 40px;
}
.left-side > form > input {
    width: 250px;
    height: 30px;
    margin-bottom: 10px;
    padding: 5px;

    font-family: 'Lustria', serif;
    font-size: 14px;
    color: var(--verde-texto-escuro);

    border: 1px solid rgb(194, 201, 200);
    border-radius: 5px;
    outline: none;
}
.left-side > form > input[type=checkbox]{
    height: 1em;
    width: 1em;
}

.left-side > form > .termos{
    width: auto;
}

.left-side > form > .termos > .termosServico {
    font-size: .740em;
    text-wrap: wrap;
}
.left-side > form > input:focus {
    outline: solid 1px var(--verde-fundo);
}
.left-side > form > .submit-button {
    display: flex;
    justify-content: center;
}
.left-side > form > .submit-button > .btnCadastro {
    width: 6.5em;
    height: 26px;
    background-color: var(--verde-acao);
    margin: 15px 0;

    color: var(--branco);
    font-family: 'Limelight', serif;
    font-size: 20px;
    text-transform: lowercase;

    border: none;
    border-radius: 25px;
}
.left-side > form > .submit-button > .btnCadastro:hover{
    background-color: var(--verde-texto-escuro);

    cursor: pointer;
    transition: .2s;
}
.left-side > .text {
    font-size: 14px;
    margin: 10px 0;
}
.left-side > .social-medias > a > img {
    height: 30px;
    width: 30px;
    margin: 10px;

    border-radius: 5px;
}
.left-side > .social-medias > a > img:hover {
    transform: scale(1.1);
    filter: brightness(90%);
    transition: .2s;
}

.divider {
    width: 250px;
    height: 1px;
    background-color: var(--divisores);
    margin-bottom: 20px;
}
.left-side > p >.link-signup:hover {
    color: var(--verde-texto-escuro);
    cursor: pointer;

    transition: .2s;
}