:root {
    --branco: #fff;
    --verde-fundo: #193035;
    --cinza-claro-fundo: #EEF0EF;
    --verde-acao: #2C4449;
    --verde-texto-escuro: #1A221E;
    --verde-link: #416870;
    --divisores: #BDC5C1;
}